
.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0 auto;
margin: 100px;
}

.item{
  background-color: red;
  color:aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
width: 200px;
height: 250px;
}

.active {
  background-color: lightblue;
}

.arrow{
  cursor: pointer;
}